
  <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar Sesión</button>
  <h1>Inserción de películas</h1>
  <form #myForm="ngForm" (ngSubmit)="insertMovie($event, myForm)">
    <input type="hidden" ngModel name="id" value="8">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" [(ngModel)]="modelMovies.nombre" name="nombre">
    </div>
    <div class="form-group">
      <label for="director">Director:</label>
      <input type="text" class="form-control" [(ngModel)]="modelMovies.director" name="director">
    </div>
    <div class="form-group">
      <label for="clasificacion">Clasificación:</label>
      <input type="text" class="form-control" [(ngModel)]="modelMovies.clasificacion" name="clasificacion">
    </div>
    <div class="form-group">
      <input type="submit" value="Insertar" class="btn btn-success mr-2">
      <input type="reset" value="Restablecer" class="btn btn-danger">
    </div>
  </form>


  <table class="table table-hover">
      <tr>
        <th>Nombre</th>
        <th>Director</th>
        <th>Clasificación</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      <tr *ngFor="let movie of movies">
        <td>{{movie.nombre}}</td>
        <td>{{movie.director}}</td>
        <td>{{movie.clasificacion}}</td>
        <td><button class="btn btn-primary" routerLink="editar/{{movie.id}}">Editar</button></td>
        <td><button (click)="deleteMovie(movie.id)" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </table>


